
@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
  font-family: 'Kanit', sans-serif !important;
  
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

#mainBox {
  background-color: #F8F8FF;
  padding: 0%;
  border: 1px solid;
  border-radius: 4px;
  font-family: 'Kanit', sans-serif;
}

#headBox {
  padding: 2%;
}

#contentBox {
  padding: 2%;
}
#navFont{
  font-family: 'Kanit', sans-serif;
}


#foot-box {
  background-color: #343a40;
  width: 100%;
  margin: 0%;
  padding: 2%;
  border-bottom: 1px solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-top: 3% !important;
  padding-bottom: 3% !important;
}

#foot-text{
  color: #F8F8FF;
  font-size: 14px;
}

#head-logo{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img-logo{
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#img-button{
  background:  rgba(201, 76, 76, 0.0);
  border: 0in;
}

#img-person{
  display: block;
  margin: 2% auto;
  padding: 2%;
  width:80%;
}